@model HomeViewModel
@{
    var currentTime = TimeOnly.FromDateTime(DateTime.Now);
    var vendorId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    
    ViewData["title"] = "Home Page | ShopeeFood.vn | Administrator";
}

<div class="home-stores-section p-3" vendor-id="@vendorId">
    <div class="main-content">
        @if (Model.Stores is not null)
        {
            var stores = Model.Stores;
            
            <h4 class="text-center mt-1">Danh sách cửa hàng</h4>

            foreach (var store in stores)
            {
                <div class="store-item ms-2 me-2 mb-2 row">
                    <a class="" store-id="@store.Id" asp-controller="Store" asp-action="Details" asp-route-storeId="@store.Id">
                        <div class="opentime-status">
                            <span class="status @(currentTime >= store.OpeningHour && currentTime <= store.ClosingHour ? "online" : "offline")"></span>
                        </div>
                        <div class="store-img">
                            <img
                                class=""
                                alt=""
                                src="@Url.Content($"~/images{store.CoverImagePath}")"
                                onerror="
                                                this.onerror = null; 
                                                this.src = '/images/stores/default-store-cover-img.jpg'"/>
                        </div>
                        <div class="store-info">
                            <div class="basic-info">
                                <h4><img class="" alt="" src="~/images/partner2x.png" title="Đây là 1 trong những Merchants được đánh giá cao trong ShopeeFood"/> @store.Name</h4>
                                <div>@store.StreetName, @store.Ward!.FullName, @store.Ward.District!.FullName, @store.Ward.District.Province!.Name</div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
}

@section Scripts {
    <script src="~/js/home.js" asp-append-version="true"></script>
}