@model StoreDetailsViewModel
@{
    // var vendorId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var store = Model.Store;
    var products = Model.Products;

    ViewData["title"] = $"{store!.Name ?? ""} | ShopeeFood.vn | Administrator";
}

@if (store.Name is not null)
{
    var storeId = store.Id;

    <div class="store-details-section p-5">
        <div class="row m-0">
            <div class="store-img col-auto me-3">
                <img
                    class="img-fluid"
                    alt=""
                    src="@Url.Content($"~/images{store.CoverImagePath}")"
                    onerror="
                    this.onerror = null; 
                    this.src = '/images/stores/default-store-cover-img.jpg'"/>
            </div>
        
            <div class="store-info col-auto">
                <h4 class="store-name">@store.Name</h4>
                <div class="store-address">@store.StreetName, @store.Ward!.FullName, @store.Ward.District!.FullName, @store.Ward.District.Province!.Name</div>
                <div class="store-schedule">
                    <div class="opening-hours">Giờ mở cửa:<span class="">@store.OpeningHour.ToString("hh:mm tt")</span></div>
                    <div class="closing-hours">Giờ đóng cửa:<span class="">@store.ClosingHour.ToString("hh:mm tt")</span></div>
                </div>
                <div class="last-update">
                    @(store.LastUpdatedAt != null ? $"Cập nhật lần cuối:<span class=\"ms-1\">{store.LastUpdatedAt:dd-MM-yyyy hh:mm tt}</span>" : "")
                </div>

            </div>
        </div>
        
        <div class="buttons-section d-flex flex-column align-items-end ms-auto mb-5">
            <a type="button" class="btn btn-orange d-flex align-items-center justify-content-center mb-2"
               asp-controller="Product" asp-action="Create" asp-route-storeId="@storeId">
                Thêm sản phẩm
            </a>
            <a type="button" class="btn btn-outline-orange d-flex align-items-center justify-content-center">
                Tạo menu
            </a>
        </div>
        
        <hr />
        
        <div class="products-section mt-5">
            @if (products is not null)
            {
                @if (products.Any())
                {
                    foreach (var product in products)
                    {
                        <div class="product-item">
                            <h4>@product.Name</h4>
                        </div>
                    }
                }
            }
        </div>
    </div>
}

@section Styles {
    <link rel="stylesheet" href="~/css/store.css" asp-append-version="true"/>
}

@section Scripts {
    <script src="~/js/store.js" asp-append-version="true"></script>
}
